/*Especificidad*/

.fw{
  font-weight: bold;
}

li.fw{
  font-size: 3rem;
}

ul{
  background-color:lightseagreen;
}

section ul{
  background-color: wheat;
}

div section ul{
  background-color:lightcoral;
}

div > section{ /*Se utiliza > pra indicar a los hijos directos*/
  background-color: darkslateblue;
  padding: 1rem;
}

.lista-1{
  background-color:yellow;
}

body> section> ul.lista1{
  background-color:gray;
}