@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: rgb(1, 1, 1);
  font-family: 'Poppins', sans-serif;
  height: 100%;
}

/* Scroll */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(128, 128, 128);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(192, 192, 192);
}
/* ends scroll */

/* header */
h1 {
  text-shadow: 0 0 15px rgb(0, 0, 255);
}
/* ends header */

/* general */
h1,
h2,
h3 {
  color: rgb(224, 224, 224);
  text-align: center;
}
#buapText{
  color: rgb(0, 181, 226);
  font-weight: bold;
}

#cbtisText{
  color: #9D2449;
  font-weight: bold;
}

#nogaraText{
  color: #269E7D;
  font-weight: bold;
}

/* Navegation Bar */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

nav ul li {
  display: inline-block;
}

nav ul li:hover {
  box-shadow: 0 0 2px rgb(0, 0, 224);
}

nav ul li a {
  display: block;
  margin: auto;
  color: rgb(160, 160, 160);
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
}

nav ul li a:hover {
  color: white;
}


/* ends content */
/* ends General */


/* Content Menu */
#content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

#content ul li {
  display: inline-block;
}

#content ul li:hover {
  box-shadow: 0 0 2px rgb(0, 0, 224);
}

#content ul li a {
  display: block;
  margin: auto;
  color: rgb(160, 160, 160);
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
}

#content ul li a:hover {
  color: white;
}

/* ends content menu */

/* Main Picture */

main figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 700px;
  border-radius: 10px;
}

#avatarPic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  border-radius: 50%;
}
/* ends main picture */

/* Containers */
header,
main,
section {
  color: rgb(192, 192, 192);
  text-decoration: none;
  padding: 20px;
  text-align: justify;
}
/* ends containers */

/* Biography Section */
#biography ul {
  list-style-type: none;
  text-align: center;
}

#biography ul li {
  display: inline-block;
}

#biography ul li img {
  margin: 10px;
}

#biography figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.languages {
  font-size: 14px;
  font-style: italic;
}
/* ends biography section */
/* contact */
form {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  font-family: 'Poppins', sans-serif;
  background-color: transparent;
  min-width: 250px;
  height: 40px;
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, .2);
  color: white;
}

input::placeholder {
  color: rgb(224, 224, 224);

}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="tel"]:hover {
  border-bottom: 1px solid white;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
  outline: 0;
  border-bottom: 1px solid white;
}

textarea{
  font-family: 'Poppins', sans-serif;
  background-color: transparent;
  min-width: 60%;
  max-width: 80%;
  height: 100px;
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, .2);
  color: white;
}

input[type="submit"] {
  background-color: transparent;
  border: 1px solid rgb(1, 1, 1);
  color: rgb(160, 160, 160);
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
}

input[type="submit"]:hover {
  color: white;
  border: 1px solid white;
  border-radius: 5px;
}
/* ends content */

/* Footer Section */
footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: rgb(128, 128, 128);
}

footer ul {
  list-style-type: none;
  text-align: center;
}

footer ul li {
  display: inline-block;
}

footer ul li a {
  padding-left: 5px;
}

.footerIcon {
  width: 32px;
}

/* Identify elements */
/*
*:hover {
  box-shadow: 0 0 1px rgb(0, 0, 224);
}